<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Home | Popularity Meter 2.0</title>

	<!-- CSS (load bootstrap from a CDN) -->
	<link rel="stylesheet" href="/static/js/libs/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/js/libs/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/static/js/libs/bootstrap-social/bootstrap-social.css">
	
	<style>
		body 	{ padding-top:50px; }
	</style>
</head>
<body class="container">

	<header>

	</header>

	<main>
		<div class="lead">
			<h1>This is great</h1>
			<p>Welcome to templating using EJS</p>
			<a href="/auth" class="btn btn-block btn-social btn-facebook">
				<i class="fa fa-facebook"></i>
				Sign in with Facebook
			</a>
		</div>
	</main>

	<footer>

	</footer>
	
</body>
</html>
