<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Results | Popularity Meter 2.0</title>

	<!-- CSS (load bootstrap from a CDN) -->
	<link rel="stylesheet" href="/static/js/libs/bootstrap/dist/css/bootstrap.min.css">
	<style>
		body 	{ padding-top:50px; }
	</style>
</head>
<body class="container">

	<header>

	</header>

	<main>
		<div class="jumbotron">
			<h1>Your score is <%= pop %>%</h1>
			<p>Or something...I don't know.</p>
		</div>
	</main>

	<footer>

	</footer>
	
</body>
</html>
